<style>.buddha-hidden-wireframe {
    display: none !important
  }</style>
<ul class="buddha-hidden-wireframe">
  <li class="buddha-menu-item"><a data-href="no-link" href="javascript:void(0);" aria-label="Filter" data-no-instant=""
                                  onclick="mmGoToPage(this); return false;"><i class="fa fa-filter"
                                                                               aria-hidden="true"></i>Filter&nbsp;<i
          class="fa fa-angle-down" aria-hidden="true"></i>
      <button class="toggle-menu-btn" style="display:none;" onclick="return toggleSubmenu(this)"><i
            class="fa fa-plus-circle" aria-hidden="true"></i></button>
    </a>
    <ul class="mm-submenu tree">
      <li data-href="no-link" href="javascript:void(0);" aria-label="By Product" data-no-instant=""
          onclick="mmGoToPage(this); return false;"><a data-href="no-link" href="javascript:void(0);"
                                                       aria-label="By Product" data-no-instant=""
                                                       onclick="mmGoToPage(this); return false;">By Product&nbsp;<i
              class="fa fa-angle-down" aria-hidden="true"></i>
          <button class="toggle-menu-btn" style="display:none;" onclick="return toggleSubmenu(this)"><i
                class="fa fa-plus-circle" aria-hidden="true"></i></button>
        </a>
        <ul class="mm-submenu tree">
          <li data-href="no-link" href="javascript:void(0);" aria-label="All products" data-no-instant=""
              onclick="mmGoToPage(this); return false;"><a data-href="no-link" href="javascript:void(0);"
                                                           aria-label="All products" data-no-instant=""
                                                           onclick="mmGoToPage(this); return false;">All products</a>
          </li>
        </ul>
      </li>
    </ul>
  </li>
</ul>