<svg width="14" height="16" viewBox="0 0 14 16" fill="none">
  <path d="M7 9C4.8 9 3 7.2 3 5V4C3 1.8 4.8 0 7 0C9.2 0 11 1.8 11 4V5C11 7.2 9.2 9 7 9Z" fill="#69C6B3"/>
  <path d="M9 11H5C2.2 11 0 13.2 0 16H14C14 13.2 11.8 11 9 11Z" fill="#69C6B3"/>
</svg>
