<svg width="18" height="16" viewBox="0 0 18 16" fill="none">
  <path d="M16.0373 1.49852C15.0706 0.532627 13.7869 0 12.4207 0C11.0544 0 9.77068 0.532627 8.80479 1.49779C8.79237 1.51021 8.77994 1.52263 8.76752 1.53578C8.7551 1.52263 8.74341 1.51094 8.73099 1.49852C7.76437 0.532627 6.48066 0 5.11439 0C3.74812 0 2.4644 0.532627 1.49779 1.49852C0.531166 2.4644 0 3.74812 0 5.11439C0 6.48066 0.531896 7.76437 1.49779 8.73026L8.76752 16L16.0373 8.73026C17.0032 7.76437 17.535 6.48066 17.535 5.11439C17.535 3.74885 17.0032 2.4644 16.0373 1.49852Z" fill="#69C6B3"/>
</svg>
