{% comment %}
  @param product {Object}
    Required to show product information
{% endcomment %}

{% assign product_grid_show_second_image = settings.product_grid_show_second_image %}
{% assign emphasize_price = settings.product_grid_emphasize_price %}
{% assign enable_quick_shop = settings.product_grid_quick_shop %}
{% assign enable_quick_buy = settings.product_grid_quick_buy %}
{% assign money_format = shop.money_format | strip_html %}
{% assign show_modal = enable_quick_shop %}

{% if product %}
  {% assign compare_at_price = product.compare_at_price %}
  {% assign compare_at_price_varies = product.compare_at_price_varies %}
  {% assign price = product.price %}
  {% assign price_varies = product.price_varies %}
  {% assign product_available = product.available %}
  {% assign product_title = product.title %}
  {% assign product_vendor = product.vendor %}
  {% assign product_link = product.url | within: collection %}
  {% assign product_description = product.description | strip_html %}
  {% assign product_description_size = product.description | strip_html | size %}
  {% if recently_viewed == true %}
    {%- capture recently_viewed_header -%}
    <div class="product-recently-viewed-card-time" data-product-handle="{{product.handle}}">
      <div
        class="product-recently-viewed-card-remove"
        data-remove-recently-viewed
      >
        {% include 'icon-remove' %}
      </div>
    </div>
    {%- endcapture -%}
  {% endif %}
{% else %}
  {% assign onboarding = true %}
  {% assign compare_at_price = 1999 %}
  {% assign compare_at_price_varies = false %}
  {% assign price = 1999 %}
  {% assign price_varies = false %}
  {% assign product_available = true %}
  {% assign product_title = 'onboarding.product.title' | t %}
  {% assign product_vendor = 'onboarding.product.vendor' | t %}
  {% assign product_link = '#' %}
{% endif %}

{% assign on_sale = false %}
{% if compare_at_price > price %}
  {% assign on_sale = true %}
{% endif %}

{% assign has_variants = false %}
{% unless product.has_only_default_variant %}
  {% assign has_variants = true %}
{% endunless %}

{%
  include 'consistent-savings',
  variants: product.variants,
  on_sale: on_sale
%}

{%- capture classes -%}
  productgrid--item
  imagestyle--{{ settings.product_grid_image_style }}
  {% unless product.featured_image %}imagestyle--no-image{% endunless %}
  {% if on_sale %}productitem--sale{% endif %}
  {% if emphasize_price %}productitem--emphasis{% endif %}
{%- endcapture -%}

<article
  class="{{ classes | strip_newlines }}"
  data-product-item
  tabindex="1">
  <div class="productitem" data-product-item-content>
    {{ recently_viewed_header }}
    <a class="productitem--image-link" href="{{ product.url | within: collection }}">
      <figure class="productitem--image" data-product-item-image>
        {% if product.featured_image %}
          {% if product_grid_show_second_image and product.images.size > 1 %}
            {%
              include 'rimg',
              img: product.images[1].src,
              size: '512x',
              lazy: true,
              class: 'productitem--image-alternate',
              canvas: true
            %}
          {% endif %}
          {%
            include 'rimg',
            img: product.featured_image
            size: '512x',
            lazy: true,
            canvas: true
          %}
        {% else %}
          {% if product %}
            {{ 'image' | placeholder_svg_tag: 'placeholder--image' }}
          {% else %}
            {%- capture index -%}
              {%- cycle '1', '2', '3', '4', '5', '6' -%}
            {%- endcapture -%}
            {{ 'product-' | append: index | placeholder_svg_tag: 'placeholder--image' }}
          {% endif %}
        {% endif %}

        {%
          include 'product-badge',
          class_root: 'productitem',
          product_available: product_available,
          on_sale: on_sale,
          price: price,
          compare_at_price: compare_at_price,
          show_saved: consistent_saved
        %}
      </figure>
    </a>

    {%- capture product_item_price -%}
      {%
        include 'product-price',
        class_root: 'productitem',
        price: price,
        price_varies: price_varies,
        compare_at_price: compare_at_price,
        compare_at_price_varies: compare_at_price_varies,
        on_sale: on_sale,
        emphasize_price: emphasize_price,
        show_original: consistent_saved
      %}
    {%- endcapture  -%}

    <div class="productitem--info">
      {% if emphasize_price %}
        {{ product_item_price }}
      {% endif %}

      <h2 class="productitem--title">
        <a href="{{ product_link }}" tabindex="1">
          {{ product_title }}
        </a>
      </h2>

      {% if settings.product_show_vendor and product.vendor != blank %}
        <h3 class="productitem--vendor">
          {{ product_vendor }}
        </h3>
      {% endif %}

      {% unless emphasize_price %}
        {{ product_item_price }}
      {% endunless %}

      {% if settings.product_ratings_reviews %}
        <div class="productitem--ratings">
          <span class="shopify-product-reviews-badge" data-id="{{ product.id }}">
            <span class="spr-badge">
              <span class="spr-starrating spr-badge-starrating">
                <i class="spr-icon spr-icon-star-empty"></i>
                <i class="spr-icon spr-icon-star-empty"></i>
                <i class="spr-icon spr-icon-star-empty"></i>
                <i class="spr-icon spr-icon-star-empty"></i>
                <i class="spr-icon spr-icon-star-empty"></i>
              </span>
            </span>
          </span>
        </div>
      {% endif %}

      {% if product_description %}
        <div class="productitem--description">
          <p>{{ product_description | truncate: 150 }}</p>

          {% if product_description_size > 150 and product_link %}
            <a
              href="{{ product_link }}"
              class="productitem--link"
            >
              {{ 'product.buttons.view_details' | t }}
            </a>
          {% endif %}
        </div>
      {% endif %}
    </div>

    {% if enable_quick_shop or enable_quick_buy %}
      {% comment %}
        Default button appearance and text
      {% endcomment %}
      {% assign quick_shop_text = 'product.buttons.quick_shop' | t %}
      {% assign quick_buy_text = 'product.buttons.add_to_cart' | t %}

      {% assign quick_shop_classes = 'productitem--action-trigger button-secondary' %}
      {% assign quick_buy_classes = 'productitem--action-trigger productitem--action-atc button-primary' %}

      {% if has_variants %}
        {% assign quick_buy_text = 'product.buttons.choose_options' | t %}
        {% assign show_modal = true %}
      {% endif %}

      {% unless product_available %}
        {% assign quick_buy_text = 'product.buttons.sold_out' | t %}
        {% assign quick_buy_classes = quick_buy_classes | append: ' disabled' %}
      {% endunless %}

      <div class="productitem--actions" data-product-actions>
        {% if section.settings.grid_list %}
          <div class="productitem--listview-price">
            {{ product_item_price }}
          </div>

          <div class="productitem--listview-badge">
            {%
              include 'product-badge',
              class_root: 'productitem',
              product_available: product_available,
              on_sale: on_sale,
              price: price,
              compare_at_price: compare_at_price,
              show_saved: consistent_saved
            %}
          </div>
        {% endif %}

        {% if enable_quick_shop %}
          <div class="productitem--action">
            <button
              class="{{ quick_shop_classes }}"
              data-quickshop-full
              type="button"
              tabindex="1"
            >
              {{ quick_shop_text }}
            </button>
          </div>
        {% endif %}

        {% if enable_quick_buy %}
          <div class="productitem--action">
            <button
              class="{{ quick_buy_classes }}"
              tabindex="1"
              type="button"
              aria-label="{{ quick_buy_text }}"
              {% unless has_variants %}
                data-quick-buy
              {% else %}
                data-quickshop-slim
              {% endunless %}
              data-variant-id="{{ product.selected_or_first_available_variant.id }}"
              {% unless product_available %}disabled{% endunless %}
            >
              <span class="atc-button--text">
                {{ quick_buy_text }}
              </span>
              <span class="atc-button--icon">
                {%- include 'icon-spinner' -%}
              </span>
            </button>
          </div>
        {% endif %}

      </div>
    {% endif %}
  </div>

  {% if show_modal %}

    {%- capture modal_html -%}
      {%-
        include 'product',
        layout: false,
        is_product_modal: true
      -%}
    {%- endcapture -%}
    <div class="productitem-quickshop" data-product-quickshop="{{ product.id }}">
      <script
        type="application/json"
        data-product-quickshop-data
      >
        {
          "settings": {
            "money_format": {{ money_format | json }},
            "enable_image_zoom": {{ settings.enable_image_zoom | json }},
            "image_zoom_level": {{ settings.image_zoom_level | json }}
          },
          "context": {
            "product_available": {{ 'product.buttons.add_to_cart' | t | json }},
            "product_unavailable": {{ 'product.buttons.sold_out' | t | json }}
          },
          "product": {{ product | json }}
        }
      </script>

      <script
        type="application/json"
        data-product-quickshop-html
      >
        {{ modal_html | json }}
      </script>
    </div>
  {% endif %}

  {% if enable_quick_buy %}
    <script type="application/json" data-quick-buy-settings>
      {
        "cart_redirection": {{ settings.quickshop_product_cart_redirect | json }},
        "money_format": {{ money_format | json }}
      }
    </script>
  {% endif %}
</article>
