{% comment %}
  @param social_url {String}
    URL to share

  @param social_title {Object}
    If sending data to a service, description or title to share

  @param social_image {String|Boolean}
    If sending data to a service, URL of image to share, or false for no image
{% endcomment %}

{% assign share_url = social_url | url_param_escape %}
{% assign share_title = social_title | url_param_escape %}
{% assign share_image = false %}
{% if social_image %}
  {% assign share_image = social_image | url_param_escape %}
{% endif %}

<aside class="share-buttons">

  <h3 class="share-buttons--title">
    {{ snippet_title | t }}
  </h3>

  <div class="share-buttons--list">
    <a
      class="share-buttons--button share-buttons--facebook"
      target="_blank"
      href="//www.facebook.com/sharer.php?u={{ share_url }}">
      {%-
        include 'social-icon',
        id: 'facebook'
      -%}
      <span class="show-for-sr">{{ 'general.accessibility.share_on_facebook' | t }}</span>
    </a>

    <a
      class="share-buttons--button share-buttons--twitter"
      target="_blank"
      href="//twitter.com/share?url={{ share_url }}">
      {%-
        include 'social-icon',
        id: 'twitter'
      -%}
      <span class="show-for-sr">{{ 'general.accessibility.share_on_twitter' | t }}</span>
    </a>

    <a
      class="share-buttons--button share-buttons--google"
      target="_blank"
      href="//plus.google.com/share?url={{ share_url }}">
      {%-
        include 'social-icon',
        id: 'google'
      -%}
      <span class="show-for-sr">{{ 'general.accessibility.share_on_google' | t }}</span>
    </a>

    <a
      class="share-buttons--button share-buttons--linkedin"
      target="_blank"
      href="//www.linkedin.com/shareArticle?mini=true&url={{ share_url }}&title={{ share_title }}">
      {%-
        include 'social-icon',
        id: 'linkedin'
      -%}
      <span class="show-for-sr">{{ 'general.accessibility.share_on_linkedin' | t }}</span>
    </a>

    {% if share_image %}
      <a
        class="share-buttons--button share-buttons--pinterest"
        target="_blank"
        href="//pinterest.com/pin/create/button/?url={{ share_url }}&amp;media={{ share_image }}&amp;description={{ share_title }}">
        {%-
          include 'social-icon',
          id: 'pinterest'
        -%}
        <span class="show-for-sr">{{ 'general.accessibility.share_on_pinterest' | t }}</span>
      </a>
    {% endif %}
  </div>
</aside>

