{% comment %}
  @param id {String}
    Name of the social icon to use
{% endcomment %}

{%- capture social_icon -%}
  {%- if id == 'email' -%}
    <svg
      aria-hidden="true"
      focusable="false"
      role="presentation"
      xmlns="http://www.w3.org/2000/svg"
      width="28"
      height="28"
      viewBox="0 0 28 28"
    >
      <path fill="currentColor" fill-rule="evenodd" d="M21.924 9H7.076l7.424 5.372L21.924 9zM14.5 15.891L7 10.449v8.347h15v-8.347l-7.5 5.442z"/>
    </svg>
  {%- endif -%}

  {%- if id == 'facebook' -%}
    <svg
      aria-hidden="true"
      focusable="false"
      role="presentation"
      xmlns="http://www.w3.org/2000/svg"
      width="28"
      height="28"
      viewBox="0 0 28 28"
    >
      <path fill="currentColor" fill-rule="evenodd" d="M16.913 13.919h-2.17v7.907h-3.215V13.92H10v-2.794h1.528V9.316c0-1.294.601-3.316 3.245-3.316l2.38.01V8.72h-1.728c-.282 0-.68.145-.68.762v1.642h2.449l-.281 2.794z"/>
    </svg>
  {%- endif -%}

  {%- if id == 'google' -%}
    <svg
      aria-hidden="true"
      focusable="false"
      role="presentation"
      xmlns="http://www.w3.org/2000/svg"
      width="28"
      height="28"
      viewBox="0 0 28 28"
    >
      <path fill="currentColor" fill-rule="evenodd" d="M19.825 11.5h1.744c.003.583.006 1.17.012 1.753.583.006 1.17.006 1.753.012v1.744c-.583.006-1.167.009-1.753.015-.006.586-.009 1.17-.012 1.753h-1.747c-.006-.583-.006-1.167-.012-1.75l-1.753-.018v-1.744c.583-.006 1.167-.009 1.753-.012.003-.586.009-1.17.015-1.753zM4.016 13.833C4.07 10.67 6.977 7.9 10.141 8.005c1.516-.07 2.94.59 4.102 1.516a21.863 21.863 0 0 1-1.557 1.612c-1.396-.964-3.38-1.24-4.776-.126-1.997 1.381-2.088 4.641-.167 6.128 1.867 1.694 5.397.853 5.913-1.742-1.17-.017-2.342 0-3.512-.038-.003-.698-.006-1.396-.003-2.093a555.11 555.11 0 0 1 5.87.006c.117 1.642-.1 3.389-1.109 4.746-1.527 2.15-4.594 2.777-6.986 1.856-2.401-.915-4.102-3.45-3.9-6.037z"/>
    </svg>
  {%- endif -%}

  {%- if id == 'instagram' -%}
    <svg
      aria-hidden="true"
      focusable="false"
      role="presentation"
      xmlns="http://www.w3.org/2000/svg"
      width="28"
      height="28"
      viewBox="0 0 28 28"
    >
      <path fill="currentColor" fill-rule="evenodd" d="M11.114 7.042c-.745.034-1.254.152-1.7.326-.46.178-.85.418-1.24.807-.388.389-.628.78-.806 1.24-.174.445-.292.954-.326 1.699C7.008 11.86 7 12.099 7 14c0 1.901.008 2.14.042 2.886.034.745.152 1.254.326 1.7.178.46.418.85.807 1.24.389.388.78.628 1.24.807.445.173.954.29 1.699.325.747.034.985.042 2.886.042 1.901 0 2.14-.008 2.886-.042.745-.034 1.254-.152 1.7-.325.46-.18.85-.419 1.24-.808.388-.389.628-.78.807-1.24.173-.445.29-.954.325-1.699.034-.747.042-.985.042-2.886 0-1.901-.008-2.14-.042-2.886-.034-.745-.152-1.254-.325-1.7a3.432 3.432 0 0 0-.808-1.24c-.389-.388-.78-.628-1.24-.806-.445-.174-.954-.292-1.699-.326C16.14 7.008 15.901 7 14 7c-1.901 0-2.14.008-2.886.042zM10.405 14a3.595 3.595 0 1 0 7.19 0 3.595 3.595 0 0 0-7.19 0zM14 16.333a2.333 2.333 0 1 1 0-4.666 2.333 2.333 0 0 1 0 4.666zm4.9-6.323a.84.84 0 1 1-1.68 0 .84.84 0 0 1 1.68 0z"/>
    </svg>
  {%- endif -%}

  {%- if id == 'pinterest' -%}
    <svg
      aria-hidden="true"
      focusable="false"
      role="presentation"
      xmlns="http://www.w3.org/2000/svg"
      width="28"
      height="28"
      viewBox="0 0 28 28"
    >
      <path fill="currentColor" fill-rule="evenodd" d="M13.914 6a7.913 7.913 0 0 0-2.885 15.281c-.07-.626-.132-1.586.028-2.27.144-.618.928-3.933.928-3.933s-.238-.475-.238-1.175c0-1.098.64-1.922 1.433-1.922.675 0 1 .507 1 1.115 0 .68-.43 1.694-.654 2.634-.188.789.395 1.43 1.172 1.43 1.405 0 2.487-1.482 2.487-3.622 0-1.894-1.361-3.219-3.306-3.219-2.251 0-3.571 1.689-3.571 3.434 0 .68.26 1.409.587 1.805.065.08.074.149.056.228-.06.25-.194.787-.22.897-.035.144-.114.176-.266.106-.987-.46-1.606-1.905-1.606-3.066 0-2.497 1.814-4.787 5.23-4.787 2.744 0 4.878 1.955 4.878 4.57 0 2.726-1.72 4.922-4.108 4.922-.801 0-1.555-.418-1.813-.91l-.495 1.88c-.178.688-.66 1.55-.983 2.075a7.914 7.914 0 0 0 10.258-7.56 7.914 7.914 0 0 0-7.913-7.912V6z"/>
    </svg>
  {%- endif -%}

  {%- if id == 'rss' -%}
    <svg
      aria-hidden="true"
      focusable="false"
      role="presentation"
      xmlns="http://www.w3.org/2000/svg"
      width="28"
      height="28"
      viewBox="0 0 28 28"
    >
      <path fill="#6B6C6D" fill-rule="evenodd" d="M10.476 16.046c-.819 0-1.468.673-1.468 1.48 0 .82.649 1.481 1.468 1.481.82 0 1.48-.649 1.48-1.48-.011-.808-.672-1.48-1.48-1.48zm-1.382-4.258v1.934a5.234 5.234 0 0 1 3.647 1.541 5.284 5.284 0 0 1 1.541 3.659h1.946c-.062-3.916-3.218-7.097-7.134-7.134zm.012-3.793V9.93c4.907.048 8.907 4.062 8.969 8.993h1.933C19.96 12.926 15.09 8.044 9.106 7.995z"/>
    </svg>
  {%- endif -%}

  {%- if id == 'tumblr' -%}
    <svg
      aria-hidden="true"
      focusable="false"
      role="presentation"
      xmlns="http://www.w3.org/2000/svg"
      width="28"
      height="28"
      viewBox="0 0 28 28"
    >
      <path fill="currentColor" fill-rule="evenodd" d="M15.863 21.98h-.095c-3.391 0-4.38-2.56-4.38-4.077v-4.74H9.503L9.5 10.806c0-.047.05-.061.098-.061 1.742-.664 2.873-1.517 3.156-3.603C12.707 7 12.8 7 12.8 7h2.355v3.318h2.832v2.845h-2.832v4.306c0 .995.377 1.524 1.319 1.524.377 0 .8-.094 1.225-.237.047 0 .094 0 .094.048l.707 2.086v.19c-.519.52-1.602.9-2.638.9z"/>
    </svg>
  {%- endif -%}

  {%- if id == 'twitter' -%}
    <svg
      aria-hidden="true"
      focusable="false"
      role="presentation"
      xmlns="http://www.w3.org/2000/svg"
      width="28"
      height="28"
      viewBox="0 0 28 28"
    >
      <path fill="currentColor" fill-rule="evenodd" d="M20.218 9.925a3.083 3.083 0 0 0 1.351-1.7 6.156 6.156 0 0 1-1.952.746 3.074 3.074 0 0 0-5.238 2.804 8.727 8.727 0 0 1-6.336-3.212 3.073 3.073 0 0 0 .951 4.104 3.062 3.062 0 0 1-1.392-.385v.039c0 1.49 1.06 2.732 2.466 3.014a3.078 3.078 0 0 1-1.389.053 3.077 3.077 0 0 0 2.872 2.135A6.168 6.168 0 0 1 7 18.795a8.7 8.7 0 0 0 4.712 1.382c5.654 0 8.746-4.685 8.746-8.747 0-.133-.003-.265-.009-.397a6.248 6.248 0 0 0 1.534-1.592 6.146 6.146 0 0 1-1.765.484z"/>
    </svg>
  {%- endif -%}

  {%- if id == 'twitter-alt' -%}
    <svg
      aria-hidden="true"
      focusable="false"
      role="presentation"
      width="16"
      height="14"
      viewBox="0 5 16 14"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path fill="currentColor" fill-rule="evenodd" d="M16 7.515a6.645 6.645 0 0 1-1.885.51 3.25 3.25 0 0 0 1.443-1.789c-.634.37-1.337.64-2.085.784A3.303 3.303 0 0 0 11.077 6C9.265 6 7.795 7.447 7.795 9.231c0 .254.029.5.085.737A9.369 9.369 0 0 1 1.114 6.59a3.178 3.178 0 0 0-.445 1.625c0 1.121.58 2.11 1.46 2.69A3.309 3.309 0 0 1 .644 10.5v.041c0 1.566 1.131 2.872 2.633 3.169a3.336 3.336 0 0 1-1.483.055A3.28 3.28 0 0 0 4.86 16.01a6.653 6.653 0 0 1-4.077 1.383c-.265 0-.526-.015-.783-.045A9.399 9.399 0 0 0 5.032 18.8c6.038 0 9.34-4.924 9.34-9.194 0-.14-.004-.28-.01-.418A6.615 6.615 0 0 0 16 7.515" />
    </svg>
  {%- endif -%}

  {%- if id == 'vimeo' -%}
    <svg
      aria-hidden="true"
      focusable="false"
      role="presentation"
      xmlns="http://www.w3.org/2000/svg"
      width="28"
      height="28"
      viewBox="0 0 28 28"
    >
      <path fill="currentColor" fill-rule="evenodd" d="M7 11.452l2.168-1.93c.977-.845 1.71-1.29 2.198-1.333.067-.005.135-.008.203-.008.483 0 .882.174 1.196.522.358.397.604 1.016.74 1.857.295 1.847.493 2.98.594 3.4.334 1.514.701 2.27 1.103 2.27.31 0 .776-.49 1.4-1.471.623-.982.956-1.729 1-2.241.01-.087.014-.172.014-.254 0-.682-.338-1.022-1.015-1.022-.343 0-.708.082-1.095.246C16.216 9.163 17.556 8 19.524 8h.16c1.445.044 2.167.933 2.167 2.669 0 .096-.002.198-.007.304-.063 1.436-1.073 3.416-3.031 5.94-2.016 2.624-3.723 3.937-5.12 3.937-.87 0-1.602-.8-2.197-2.4l-1.204-4.395c-.445-1.6-.92-2.4-1.428-2.4-.107 0-.496.234-1.168.703L7 11.452z"/>
    </svg>
  {%- endif -%}

  {%- if id == 'youtube' -%}
    <svg
      aria-hidden="true"
      focusable="false"
      role="presentation"
      xmlns="http://www.w3.org/2000/svg"
      width="28"
      height="28"
      viewBox="0 0 28 28"
    >
      <path fill="currentColor" fill-rule="evenodd" d="M11.958 16.23v-4.22l4.058 2.117-4.058 2.102zm8.91-4.951s-.147-1.035-.597-1.491c-.571-.598-1.211-.601-1.505-.636C16.664 9 13.512 9 13.512 9h-.006s-3.153 0-5.254.152c-.294.035-.934.038-1.505.636-.45.456-.597 1.49-.597 1.49S6 12.495 6 13.71v1.14c0 1.215.15 2.43.15 2.43s.147 1.035.597 1.49c.571.599 1.322.58 1.656.643 1.201.115 5.106.15 5.106.15s3.155-.004 5.257-.156c.294-.035.934-.038 1.505-.636.45-.456.597-1.49.597-1.49s.15-1.216.15-2.431v-1.14c0-1.215-.15-2.43-.15-2.43z"/>
    </svg>
   {%- endif -%}
   {%- if id == 'linkedin' -%}
    <svg
      aria-hidden="true"
      focusable="false"
      role="presentation"
      xmlns="http://www.w3.org/2000/svg"
      width="26"
      height="28"
      viewBox="-12 -10 50 50"
    >
      <path fill="currentColor" fill-rule="evenodd" d="M9.7 9.8h4.8v2.5c.7-1.4 2.5-2.8 5.1-2.8 5.2 0 6.4 3 6.4 8.4V28h-5.2v-8.8c0-3.1-.7-4.9-2.5-4.9-2.4 0-3.4 1.9-3.4 4.9V28H9.7V9.8zm-9 18H6V9.5H.7v18.3zm6-24.2c0 2-1.5 3.5-3.4 3.5C1.5 7.1 0 5.5 0 3.6 0 1.6 1.5 0 3.3 0c1.9 0 3.4 1.6 3.4 3.6z" clip-rule="evenodd"/>
    </svg>
  {%- endif -%}
{%- endcapture -%}

{{ social_icon | strip_newlines }}
