.announcement-bar
  padding: 7px 0
  text-align: left
.announcement-bar__item
  display: flex
.announcement-bar__text
  color: #fcbf65
  text-transform: uppercase
  font-size: 14px
.announcement-bar a
  text-decoration: none
.announcement-bar__item--links
  font-size: 12px
  color: #fff
  justify-content: flex-end
.announcement-bar__call
  padding-right: 20px
  text-transform: uppercase
.announcement-bar__icon
  display: inline-block
  margin-right: 10px
.announcement-bar__link
  color: #69c6b3 !important
  display: flex
.announcement-bar__link--account
  position: relative
  padding: 0 20px
  &:before,
  &:after
    position: absolute
    top: 0
    bottom: 0
    content: ''
    display: block
    box-shadow: 1px 0 0 0 rgba(255, 255, 255, 0.1)
  &:before
    left: 0
  &:after
    right: 0
.announcement-bar__link--wishlist
  padding-left: 20px