<!doctype html>
<html class="no-js no-touch" lang="{{ shop.locale }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="IE=edge">

  <title>
    {{- page_title -}}

    {%- if current_tags -%}
      {%- include 'advanced-tag-loop' -%}
      {% assign title_tags = '' %}
      {% assign meta_tags = current_tags | join: ', ' %}
      {%- for tag in current_tags -%}
        {% assign is_advanced_tag = false %}
        {% assign cat = tag | split: '_' | first %}

        {%- unless cat == tag -%}
          {%- if cat_array contains cat -%}
            {% assign is_advanced_tag = true %}
            {% assign title_tags = title_tags | append: ', ' | append: tag | replace_first: '_', ': ' %}
          {%- endif -%}
        {%- endunless -%}

        {%- unless is_advanced_tag -%}
        {% assign title_tags = title_tags | append: ', ' | append: tag %}
        {%- endunless -%}
      {%- endfor -%}
      {{ 'general.title.tags' | t: tags: title_tags | remove_first: ', ' }}
    {%- endif -%}

    {%- if current_page != 1 -%}
      {{- 'general.title.page' | t: page: current_page -}}
    {%- endif -%}

    {%- unless page_title contains shop.name -%}
      {{- 'general.title.shop' | t: shop: shop.name -}}
    {%- endunless -%}
  </title>

  {% if page_description != blank %}
    <meta name="description" content="{{ page_description | escape }}">
  {% endif %}

  {% include 'favicon' %}

  {% if template contains 'collection' and current_tags %}
    <meta name="robots" content="noindex"/>
    <link rel="canonical" href="{{ shop.url }}{{ collection.url }}"/>
  {% else %}
    <link rel="canonical" href="{{ canonical_url }}"/>
  {% endif %}

  <meta name="viewport" content="width=device-width">

  {% assign twitter_handle = settings.social_twitter | split: 'twitter.com/' | last %}
  {% include 'social-meta-tags',
    twitter_handle: twitter_handle %}

  {% include 'buddha-megamenu-before' %}
  {% include 'buddha-megamenu' %}
  {{ content_for_header }}

  <script>
    document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/, 'js');
    if (window.Shopify && window.Shopify.designMode) document.documentElement.className += ' in-theme-editor';
    if (('ontouchstart' in window) || window.DocumentTouch && document instanceof DocumentTouch) document.documentElement.className = document.documentElement.className.replace(/\bno-touch\b/, 'has-touch');
  </script>

  {{ 'theme.scss.css' | asset_url | stylesheet_tag }}
  {{ 'mbc-style.css' | asset_url | stylesheet_tag }}
</head>

<body>
{% include 'buddha-megamenu-wireframe' %}
{% section 'static-header' %}

<main class="site-main">
  {% if template == 'index' %}
    {% section 'static-slideshow' %}
    {% section 'static-highlights-banners' %}
  {% endif %}

  {{ content_for_layout }}
</main>

{% section 'static-footer' %}

{% comment %}
  Below are various templates used in JavaScript
{% endcomment %}
<div style="display: none;" aria-hidden="true" data-templates>
  {% include 'message-banner' %}
  {% include 'atc-banner' %}
</div>

{% comment %}
  Modal container, used on Collections, Password, and QuickShop
{% endcomment %}
{% include 'modal' %}


{%- if template contains 'customer' -%}
  {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
  {{ 'customer_area.js' | shopify_asset_url | script_tag }}
{%- endif -%}

<script
    src="{{ 'empire.js' | asset_url }}"
    data-scripts
    data-shopify-api-url="{{ 'api.jquery.js' | shopify_asset_url }}"
    data-shopify-currencies="//cdn.shopify.com/s/javascripts/currencies.js"
    data-shopify-countries="/services/javascripts/countries.js"
    data-shopify-common="{{ 'shopify_common.js' | shopify_asset_url }}"
    data-shopify-cart="{{ 'jquery.cart.js' | asset_url }}">
</script>

{% include 'structured-data' %}

<!-- **BEGIN** Hextom SPM Integration // Main Include - DO NOT MODIFY -->
{% include 'hextom_spm_main' %}
<!-- **END** Hextom SPM Integration // Main Include - DO NOT MODIFY -->
{% include 'smile-initializer' %}

<!-- Delete the Beeketing script below after uninstalling Happy Messenger app to remove it from your theme. For more info, read here: https://bit.ly/hmesscode or contact us at hi@beeketing.com. -->
<!-- BEEKETINGSCRIPT CODE START -->{% include 'bk-tracking' %}<!-- BEEKETINGSCRIPT CODE END --></body>
</html>
