{% assign product = all_products[section.settings.product] %}
{% assign onboarding = false %}

{% if product.empty? %}
  {% assign onboarding = true %}
{% endif %}

{%- capture recently_viewed_data -%}
  {%-
    include 'product-recently-viewed',
    product: product
  -%}
{%- endcapture %}

<script
  type="application/json"
  data-section-type="dynamic-featured-product"
  data-section-id="{{ section.id }}"
  data-section-data
>
  {
    "settings": {
      "cart_redirection": {{ section.settings.product_cart_redirect | json }},
      "money_format": {{ shop.money_format | strip_html | json }},
      "enable_video_autoplay": {{ section.settings.enable_video_autoplay | json }},
      "enable_image_zoom": {{ settings.enable_image_zoom | json }},
      "image_zoom_level": {{ settings.image_zoom_level | json }}
    },
    "context": {
      "product_available": {{ 'product.buttons.add_to_cart' | t | json }},
      "product_unavailable": {{ 'product.buttons.sold_out' | t | json }}
    },
    "product": {% unless onboarding %}{{ product | json }}{% else %}false{% endunless} %}
    {{ recently_viewed_data }}
  }
</script>

<section class="featured-product--container home-section--content" data-product-wrapper>
  <div class="featured-product--inner">
    {%
      include 'product',
      is_product_modal: false,
      hide_description: true,
      onboarding: onboarding
    %}
  </div>
</section>

{% schema %}
{
  "name": "Featured product",
  "class": "featured-product--section",
  "settings": [
    {
      "id": "product",
      "type": "product",
      "label": "Product"
    },
    {
      "type": "checkbox",
      "id": "enable_video_autoplay",
      "label": "Enable autoplay for product videos",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_dcb",
      "label": "Show dynamic checkout button",
      "info": "Lets customers check out directly using a familiar payment method. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "product_cart_redirect",
      "label": "Enable cart redirection",
      "info": "Automatically sends users to the Cart page after adding a product.",
      "default": false
    }
  ],
  "presets": [
    {
      "name": "Featured product",
      "category": "Product"
    }
  ]
}

{% endschema %}