<section class="top-bar">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6">
        <div class="top-bar__text">
          {{ section.settings.text }}
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "TopBar",
    "class": "top-bar",
    "settings": [
      {
        "id": "text",
        "type": "text",
        "label": "Text",
        "default": "If your order is $49 or more, your order ships FREE"
      }
    ]
  }
{% endschema %}